/*
author:ghanshyam
theme:food order website
version:1.0
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.clearfix {
  float: none;
  clear: both;
}
.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 30%;
}
table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td {
  padding: 1%;
}
.btn-primary {
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #3742fa;
}
.btn-secondary {
  background-color: #7bed9f;
  color: black;
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: #2ed573;
}
.btn-tertiary {
  background-color: #c931d1;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
}
.btn-tertiary:hover {
  background-color: #7d217d;
}
.btn-danger {
  background-color: #ff6b81;
  color: white;
  text-decoration: none;
  padding: 1%;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: #ff4757;
}

/*css for menu*/
.menu {
  border-bottom: 1px solid black;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  color: #ff6b81;
  font-weight: bold;
}
.menu ul li a:hover {
  color: #ff4757;
}
/*css for main content*/
.main-content {
  background-color: #ececec;
  padding: 2%;
}
.col-4 {
  width: 18%;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}
/*css for footer*/
.footer {
  background-color: #ff6b81;
  color: white;
}
.error {
  color: red;
}
.success {
  color: green;
}
/* css for login */
.login {
  width: 40%;
  height: 50%;
  padding: 2%;
  margin: 10% auto;
  background-color: #ff4757;
  box-shadow: 0px 3px 7px 2px rgb(86, 85, 85);
  border-radius: 6px;
}
.login-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.back {
  background-color: grey;
}

.button {
  padding: 10px;
  font-size: 16px;
  margin: bottom 40px;
  box-shadow: 3px 4px rgb(86, 87, 87);
  outline-color: white;
  border-color: white;
  border-radius: 6px;
  background: none;
  color: white;
}
