/*
    author: ghanshyam;
    theme: retaurant food order;
    version: 1.0;
*/
/*css for all*/
* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.image-responsive {
  width: 100%;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.clearfix {
  clear: both;
  float: none;
}
a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}
.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  color: #ff6b81;
  border-radius: 6px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  color:white;
  background-color: #ff4757;
}
h2 {
  color: #2f3542;
  font-size: 2rem;
  margin-bottom: 2%;
}
h3 {
  font-size: 1.6rem;
}
.float-container {
  position: relative;
}
.float-text {
  position: absolute;
  bottom: 40px;
  left: 40%;
}
.img-curve {
  border-radius: 15px;
}
fieldset{
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
}

/*css fot navbar section*/
.logo {
  width: 10%;
  float: left;
}
.menu {
  line-height: 60px;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}
.order-label input[type=text]{
  border-radius: 5px;
}
/*css for food search section*/
.food-search {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}
.food-search input[type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

/*css for categories*/
.categories {
  padding: 4% 0;
}
.box-3 {
  border: 1px solid black;
  width: 28%;
  float: left;
  margin: 2%;
  border: none;
  cursor: pointer;
}

/*css for food menu*/
.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  background-color: white;
  border: 1px solid black;
  width: 43%;
  margin: 1%;
  float: left;
  padding: 2%;
  border-radius: 15px;
  border:none;
}
.food-menu-img{
  width:20%;
  float:left;
  padding:1%;
}
.food-menu-desc{
  width:70%;
  float:left;
  margin-left: 8%;
}
.food-price{
  font-size: 1.2rem;
  margin:2% 0;
}
.food-detail{
  font-size: 1rem;
  color:#747d8c;
}
/*css for social section*/
.social ul {
  list-style-type: none;
}
.social ul li{
  display:inline;
  padding:1%;
}

/*for order section*/
.order{
  width:50%;
  margin: 0 auto;
}
.input-responsive{
  width:96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.order-label{
  margin-bottom: 1%;
  font-weight:bold ; 

}

/*CSS for about section*/


/*css for mobile or smaller screen*/
@media only screen and (max-width:768px) {
  .logo{
    width:80%;
    float:none;
    margin:0 auto;
}
  .menu ul{
    text-align: center;
  }
.food-search input[type="search"]{
  width:90%;
  padding:2%;
  margin-bottom:5%;
}
.food-search{
  padding:10% 0;

}
.btn{
  width:90%;
  padding:2%;
}
.box-3{
  width:95%;
  margin:4% auto;
}
.categories{
  padding:10% 0;
}
h2{
  margin-bottom: 5%;
}
.food-menu{
  padding:20% 0;
}
.food-menu-box{
  width: 90%;
  padding:5%;
  margin-bottom: 5%;
}
.food-menu-desc{
  margin-left: 3%;
  padding: 0%;
}
.food-menu-img{
  width: 25%;
  float: left;
}
.social{
  padding: 5% 0;
}
}

